@import "../../utils/theme.css";

.button-container {
  height: min-content;
  min-width: 105px;
  width: max-content;
  border-radius: 50px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  cursor: pointer;
  padding: 1% 2% 1% 2%;
  text-wrap: nowrap;
}

.btn-dark {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.btn-white {
  border: 1px solid var(--primary-color);
  background-color: transparent;
}
