@import "../../utils/theme.css";

.login-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-left: -12vw;
  background-color: var(--primary-color);
  justify-content: center;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  height: 600px; /* Augmenter la hauteur */
  width: 400px;  /* Augmenter la largeur */
  border-radius: 5%;
  align-self: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px; /* Ajouter un peu de padding pour espacer les éléments */
}

.login-register-logo {
  color: var(--primary-text-color);
  font-weight: bolder;
  font-size: xx-large; /* Augmenter la taille du logo */
  padding-top: 10%;  /* Réduire l'espace supérieur */
}

.login-register-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;  /* Augmenter la largeur des inputs */
  padding: 5% 0%;  /* Réduire les espaces verticaux pour une meilleure répartition */
}

.account-button {
  cursor: pointer;
  font-size: large; /* Agrandir le texte */
  margin-top: 10px; /* Espacement supplémentaire */
}

.qr-code-container {
  text-align: center;
  margin-top: 20px;
}

.qr-code-image {
  width: 200px; /* Ajustez la taille selon vos besoins */
  height: 200px;
  margin-top: 10px;
}
