/* Container styling */
.table-container {
  width: 85%; /* Réduit un peu la largeur pour l'esthétique */
  margin: 40px;
  padding: 60px;
  background: linear-gradient(to bottom, #e8f4fc, #ffffff);
  border-radius: 12px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
}

.header-banner {
  background: #141f57;
  color: white;
  text-align: center;
  padding: 30px 20px;
  border: radius 4px;;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100vw; /* Utilise toute la largeur de la fenêtre */
  position: relative;
  left: 0;
  right: 0;
  margin: 0; /* Supprime les marges externes */
  box-sizing: border-box; /* Inclut les paddings et bordures dans la largeur totale */
}


/* Books grid */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  gap: 20px;
  margin-top: 20px;
}

/* Book card */
.book-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.book-card h3 {
  color: #11447b;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.book-card p {
  color: #555;
  font-size: 0.9em;
  margin: 5px 0;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #11447b;
  border-radius: 4px;
  color: #023165;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #11447b;
  color: white;
}

.active .page-link {
  background-color: #11447b;
  color: white;
  border: none;
}

/* Search bar */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input,
.search-select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.search-input:focus,
.search-select:focus {
  border-color: #11447b;
  outline: none;
  box-shadow: 0 0 5px rgba(17, 68, 123, 0.5);
}
