/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f5;
  }
  
  /* Conteneur principal */
  div {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #0a0d63;
    font-size: 30px;
    margin-left: 150px;
  }
  
  /* Formulaire */
 
  
  .book-detail-overlay {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
    margin-left: 300px;
  }
  
  .Book {
    flex: 1 1 calc(45% - 20px); /* 2 colonnes avec un espace entre */
    display: flex;
    flex-direction: column;
  }
  
  .Book h3 {
    margin-bottom: 8px;
    color: #0052ab;
    font-size: 16px;
  }
  
  .Book input,
  .Book select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .Book input:focus,
  .Book select:focus {
    border-color: #0052ab;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0052ab;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #f05c5c;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }

  .up_button{
    background-color: #020074;
    width: 300px;
  }
  
  /* Bouton de suppression */
  .supp_button {
    background-color: #ab2331;
    width: 300px;
    margin-left: 550px;
  }
  
  
  /* Message d'erreur */
  div[style="color: red"] {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .Book {
      flex: 1 1 100%;
    }
  
    form {
      padding: 15px;
    }
  }
  